<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="index.css">
    <title>About</title>
</head>
<body>
    <!--Nav section-->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-5">
        <div class="container">
            <a href="#" class="navbar-brand">Code crafters Hub</a>
            <button type="button" class="navbar-toggler" data-bs-target="#navmenu" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#websites" class="nav-link">Available Websites</a>
                    </li>
                    <li class="nav-item">
                        <a href="#questions" class="nav-link">Questions</a>
                    </li>
                    <li class="link-item">
                        <a href="#available_languages" class="nav-link">Languages/frameworks</a>
                    </li>
                    <li class="link-item">
                        <a href="#contact Us" class="nav-link"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--showcase section-->
    <section class="p-5 bg-dark text-center text-light text-sm-start pt-lg-5 p-lg-0">
        <div class="container">
            <div class="d-sm-flex justify-content-between align-items-center">
                <div>
                    <h1>Do you need <span class="text-warning">a Website?</span></h1>
                    <p class="lead">Looking to enhance your online presence? Our expertly crafted websites are designed to attract and engage your target audience. Whether you're a small business, an entrepreneur, or a professional, we create websites that help you stand out from the crowd. Let's build something great together!</p>
                    <button class="btn btn-primary btn-lg">Reach Out</button>
                </div>
                <img src="images/header1_image.jpg" alt="" class="img-fluid w-50 d-none d-sm-block">
            </div>
        </div>
    </section>
    	<!--Newsletter-->
	<section class="bg-primary text-light p-5">
		<div class="container">
			<div class="d-md-flex justify-content-between align-items-center">
				<h3 class="mb-3 mb-md-0">Sign up for NewsLetter</h3>
				<div class="input-group mb-3 news-input">
				<input type="text" class="form-control" placeholder="Enter email">
				<button class="btn btn-dark btn-lg" type="button">Subscribe</button>
			  </div>
			</div>
		</div>
	</section>
    <secttion class="p-5">
		<div class="container">
			<div class="row text-center g-4">
				<div class="col-md">
					<div class="card bg-dark text-light">
						<div class="card-bord text-centet">
						  <div class="h1 mb-3">
                              <i class="bi bi-laptop"></i>
						  </div>
						  <h3 class="card-title mb-3">
                            Django Framework
                          </h3>
                          <p class="card-text">
                              With extensive experience in the Django framework, we develop robust and scalable web applications tailored to your needs. Django's powerful features and security measures enable us to deliver high-performance websites with ease. Whether you need a complex application or a simple site, our expertise ensures top-notch quality and reliability.
                          </p>
                          <a href="#" class="btn btn-primary">read more</a>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card bg-secondary text-light">
						<div class="card-bord text-centet">
						  <div class="h1 mb-3">
                              <i class="bi bi-people"></i>
						  </div>
						  <h3 class="card-title mb-3">
							  Html/CSS
						  </h3>
						  <p class="card-text">
							We excel in crafting responsive and visually appealing websites using HTML and CSS. Our expertise ensures that your site not only looks stunning but also functions seamlessly across all devices. From custom layouts to intricate styling, we bring your design vision to life with precision and creativity.
						  </p>
                          <a href="#" class="btn btn-dark">read more</a>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card bg-dark text-light">
						<div class="card-bord text-centet">
						  <div class="h1 mb-3">
                              <i class="bi bi-person-square"></i>
						  </div>
						  <h3 class="card-title mb-3">
                            Bootstrap Framework
                          </h3>
                          <p class="card-text">
                            Our team is highly skilled in utilizing the Bootstrap framework to build modern, responsive websites. Bootstrap's powerful grid system and pre-designed components allow us to create aesthetically pleasing and functional websites quickly and efficiently. Let us leverage this framework to enhance your online presence.
                          </p>
                          <a href="#" class="btn btn-primary">read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</secttion>
	<!--learn section-->
	<section class="p-5" id="learn">
		<div class="row align-items-center justify-content-between">
			<div class="col-md">
				<img src="images/shopping.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-md p-5">
				<h1>E-Commerce</h1>
				<p class="lead">
                    Are you ready to elevate your online business? Our team specializes in creating top-notch eCommerce websites designed to captivate and convert visitors into loyal customers. We combine sleek design with robust functionality, ensuring that your online store not only looks great but also offers a seamless shopping experience. Our websites are built with the latest technologies and are fully optimized for performance, helping you stand out in a crowded marketplace.
                </p>
				<p class="lead">
                    What sets us apart is our commitment to affordability without compromising on quality. We understand that every business has unique needs and budgets, which is why we offer flexible pricing options to fit any scale. From start-ups to established brands, we provide high-quality eCommerce solutions that deliver results. Trust us to be your partner in success, offering the best value in the market with websites that drive growth and profitability.
				</p>
				<a href="#" class="btn btn-secondary mt-3">
				  <i class="bi-chevron-right"> Read more</i>
				</a>
			</div>
		</div>
		</div>
	</section>
	<section id="learn" class="bg-dark p-5 text-light">
		<div class="row align-items-center justify-content-between">
			<div class="col-md p-5">
				<h1>Blogs</h1>
				<p class="lead">
                    "Express yourself and share your passion with the world through a beautifully designed blog. Our team crafts visually appealing and user-friendly blogs that reflect your unique voice and style. Whether you're a seasoned writer or just starting out, our blogs are optimized for readability and engagement, helping you build a loyal audience. We provide intuitive content management systems, making it easy for you to update your site and keep your followers coming back for more."
				<a href="#" class="btn btn-primary mt-3">
				  <i class="bi-chevron-right"> Read more</i>
				</a>
			</div>
			<div class="col-md">
				<img src="images/header1_image.jpg" class="img-fluid" alt="">
			</div>
		</div>
		</div>
	</section>
    <section id="learn" class="bg-light p-5">
		<div class="row align-items-center justify-content-between">
            <div class="col-md">
				<img src="images/school.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-md p-5">
				<h1>School Websites</h1>
				<p class="lead">
                    "Enhance your school's online presence with a professional and informative website. We specialize in creating school websites that are not only attractive but also functional, providing parents, students, and staff with easy access to essential information. Our designs are tailored to meet the specific needs of educational institutions, featuring interactive calendars, event announcements, and secure portals for academic resources. Let us help you create a digital hub that fosters communication and community."				</p>
				<a href="#" class="btn btn-primary mt-3">
				  <i class="bi-chevron-right"> Read more</i>
				</a>
			</div>
		</div>
		</div>
	</section>
    <section id="learn" class="bg-dark p-5 text-light">
		<div class="row align-items-center justify-content-between">
			<div class="col-md p-5">
				<h1>Hotel Websites</h1>
				<p class="lead">
                    Invite your guests to a memorable experience right from the moment they visit your website. Our hotel websites are designed to showcase your unique offerings and ambiance, making a great first impression. With easy navigation, stunning visuals, and integrated booking systems, we ensure that your potential guests have all the information they need to choose your hotel for their stay. Whether you run a boutique inn or a luxury resort, our websites help you stand out in the competitive hospitality market."				<a href="#" class="btn btn-primary mt-3">
				  <i class="bi-chevron-right"> Read more</i>
				</a>
			</div>
			<div class="col-md">
				<img src="images/hotel.jpg" class="img-fluid" alt="">
			</div>
		</div>
		</div>
	</section>
	<section class="p-5" id="questions">
		<div class="container">
			<h2 class="text-center mb-4">
				Friquently asked Questions
			</h2>
			<div class="accordion accordion-flush" id="questions">
				<!--item 1-->
				<div class="accordion-item">
				  <h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button"
					   data-bs-toggle="collapse" data-bs-target="#question-one"> Where exactly are you located?
					</button>
				  </h2>
				  <div id="question-one" class="accordion-collapse collapse">
					<div class="accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia alias magnam repellat beatae nemo id..</div>
				  </div>
				</div>
				<!--item 2-->
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingOne">
					  <button class="accordion-button collapsed" type="button"
						 data-bs-toggle="collapse" data-bs-target="#question-two"> What type of websites do you make?
					  </button>
					</h2>
					<div id="question-two" class="accordion-collapse collapse">
					  <div class="accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia alias magnam repellat beatae nemo id..</div>
					</div>
				  </div>
				<!--item 3-->
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingOne">
					  <button class="accordion-button collapsed" type="button"
						 data-bs-toggle="collapse" data-bs-target="#question-three"> What is the price of a simple website?
					  </button>
					</h2>
					<div id="question-three" class="accordion-collapse collapse">
					  <div class="accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia alias magnam repellat beatae nemo id..</div>
					</div>
				</div>
				<!--item 4-->
				<div class="accordion-item">
					<h2 class="accordion-header" id="questions">
					  <button class="accordion-button collapsed" type="button"
						 data-bs-toggle="collapse" data-bs-target="#question-four"> Do you perchase domain name for people?
					  </button>
					</h2>
					<div id="question-four" class="accordion-collapse collapse">
					  <div class="accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia alias magnam repellat beatae nemo id..</div>
					</div>
				  </div>
				  <!--item 5-->
				  <div class="accordion-item">
					<h2 class="accordion-header" id="questions">
					  <button class="accordion-button collapsed" type="button"
						 data-bs-toggle="collapse" data-bs-target="#question-five"> Which server do you do hosting with?
					  </button>
					</h2>
					<div id="question-five" class="accordion-collapse collapse">
					  <div class="accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia alias magnam repellat beatae nemo id..</div>
					</div>
				  </div>
			  </div>
		</div>
	</section>
	<section id="instructors" class="p-5 bg-primary">
		<div class="container">
			<h2 class="text-center text-light">
				Our instructors
			</h2>
			<p class="lead text-light text-center mb-5">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Id pariatur in dolor voluptas, necessitatibus nam.
			</p>
			<div class="row g-4">
				<div class="col-md-6 col-lg-3">
					<div class="card bg-light">
						<div class="card-body text-center">
							<img src="https://randomuser.me/api/portraits/men/1.jpg" class="rounded-circle mb-3" alt="">
							<h3 class="card-title mb-3">
								John Doe
							</h3>
							<p class="card-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, officia quis quisquam minima autem facilis recusandae voluptatem temporibus eum velit dolorem aperiam assumenda quasi tempora quibusdam nostrum non repellendus ratione?
							</p>
							<a href="#"><i class="bi bi-x text-dark mx-1"></i></a>
							<a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
							<a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
							<a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="card bg-light">
						<div class="card-body text-center">
							<img src="https://randomuser.me/api/portraits/women/1.jpg" class="rounded-circle mb-3" alt="">
							<h3 class="card-title mb-3">
								Jane Doe
							</h3>
							<p class="card-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, officia quis quisquam minima autem facilis recusandae voluptatem temporibus eum velit dolorem aperiam assumenda quasi tempora quibusdam nostrum non repellendus ratione?
							</p>
							<a href="#"><i class="bi bi-x text-dark mx-1"></i></a>
							<a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
							<a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
							<a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="card bg-light">
						<div class="card-body text-center">
							<img src="https://randomuser.me/api/portraits/men/10.jpg" class="rounded-circle mb-3" alt="">
							<h3 class="card-title mb-3">
								John smith
							</h3>
							<p class="card-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, officia quis quisquam minima autem facilis recusandae voluptatem temporibus eum velit dolorem aperiam assumenda quasi tempora quibusdam nostrum non repellendus ratione?
							</p>
							<a href="#"><i class="bi bi-x text-dark mx-1"></i></a>
							<a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
							<a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
							<a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="card bg-light">
						<div class="card-body text-center">
							<img src="https://randomuser.me/api/portraits/women/17.jpg" class="rounded-circle mb-3" alt="">
							<h3 class="card-title mb-3">
								Sarah Bush
							</h3>
							<p class="card-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, officia quis quisquam minima autem facilis recusandae voluptatem temporibus eum velit dolorem aperiam assumenda quasi tempora quibusdam nostrum non repellendus ratione?
							</p>
							<a href="#"><i class="bi bi-x text-dark mx-1"></i></a>
							<a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
							<a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
							<a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--contact and map-->
	<section class="p-5">
		<div class="container">
			<div class="row g-4">
				<div class="col-md">
					<h2 class="text-center md-4">Contact Info</h2>
					<ul class="list-group list-group-flush lead">
						<li class="list-group-item">
							<span class="fw-bold">Main location:</span> 44 kiamutugu
						</li>
						<li class="list-group-item">
							<span class="fw-bold">Email:</span> webdev@gmail.com
						</li>
						<li class="list-group-item">
							<span class="fw-bold">Phone Number:</span> +254(123)(567)(890)
						</li>
						<li class="list-group-item">
							<span class="fw-bold">Email 2:</span> webdev@gmail.com
						</li>
					</ul>
				</div>
				<div class="col-md">

				</div>
			</div>
		</div>
	</section>
	<footer class="p-5 bg-dark text-white text-center position-relative">
		<p class="lead">Copyright &copy; 2024 web dev</p>
        <a href="#" class="position-absolute bottom-0 end-0 p-5">
			<i class="bi bi-arrow-up-circle h1"></i>
		</a>
	</footer>
	<!--modal-->
	<div class="modal fade" id="enroll" tabindex="-1">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="enroll">Start Enrollment</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
			  Fill Out This form and we will reach out to you
			</div>
			<form>
				<div class="mb-3">
					<label for="first-name" class="col-form-label">First Name: </label>
					  <input type="text" class="form-control" id="first-name">
				</div>
				<div class="mb-3">
					<label for="email" class="col-form-label">Email: </label>
					<input type="text" class="form-control" id="email">
				</div>

				<div class="mb-3">
					<label for="phone" class="col-form-label">Phone: </label>
					<input type="text" class="form-control" id="phone">
				</div>

				<div class="mb-3">
					<label for="last-name" class="col-form-label">Last Name: </label>
					<input type="text" class="form-control" id="last-name">
				</div>


			</form>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  <button type="button" class="btn btn-primary">Submit</button>
			</div>
		  </div>
		</div>
	  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>